<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bricola.app_test" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".AddGroupActivity"
            android:label="@string/title_activity_add_group"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".GroupActivity"
            android:label="@string/title_activity_group"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".AddNewMemberInGroupActivity"
            android:label="@string/title_activity_add_new_member_in_group"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".DeleteMemberInGroupActivity"
            android:label="@string/title_activity_delete_member_in_group"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".AddNewTransactionActivity"
            android:label="@string/title_activity_add_new_transaction"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".DeleteTransactionActivity"
            android:label="@string/title_activity_delete_transaction"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".BalanceAccountActivity"
            android:label="@string/title_activity_balance_account"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
